<div class="modal-content">

    <div class="container-dev">
        <h2 class="container-title">Team of developers</h2>
        <ul class="list-developers">
            <<li class="developer-item">
                <picture>
                    <source srcset="./images/default.jpg" media="(min-width: 1280)" type="image" />
                    <source srcset="./images/default.jpg" media="(min-width: 768)" type="image" />
                    <source srcset="./images/default.jpg" media="(min-width: 320)" type="image" />
                    <img class="photo-dev" src="./images/default.jpg" alt="galary" />
                </picture>
                <div class="mdev-data-box">
                    <h2 class="name-developer">Piter Ivanoff</h2>
                    <h3 class="type-work">Development of HTML/CSS</h3>
                </div>
                <div class="soc-media">
                    <a href="https://github.com" target="_blank">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png" alt=""
                            class="soc-media_link" />
                    </a>
                    <a href="https://github.com" target="_blank">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png" alt=""
                            class="soc-media_link" />
                    </a>
                    <a href="https://github.com" target="_blank">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png" alt=""
                            class="soc-media_link" />
                    </a>
                </div>
                </li>
                <li class="developer-item">
                    <picture>
                        <source srcset="./images/default.jpg" media="(min-width: 1280)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 768)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 320)" type="image" />
                        <img class="photo-dev" src="./images/default.jpg" alt="galary" />
                    </picture>
                    <div class="mdev-data-box">
                        <h2 class="name-developer">Piter Ivanoff</h2>
                        <h3 class="type-work">Development of HTML/CSS</h3>
                    </div>
                    <div class="soc-media">
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                    </div>
                </li>
                <li class="developer-item">
                    <picture>
                        <source srcset="./images/default.jpg" media="(min-width: 1280)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 768)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 320)" type="image" />
                        <img class="photo-dev" src="./images/default.jpg" alt="galary" />
                    </picture>
                    <div class="mdev-data-box">
                        <h2 class="name-developer">Piter Ivanoff</h2>
                        <h3 class="type-work">Development of HTML/CSS</h3>
                    </div>
                    <div class="soc-media">
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                    </div>
                </li>
                <li class="developer-item">
                    <picture>
                        <source srcset="./images/default.jpg" media="(min-width: 1280)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 768)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 320)" type="image" />
                        <img class="photo-dev" src="./images/default.jpg" alt="galary" />
                    </picture>
                    <div class="mdev-data-box">
                        <h2 class="name-developer">Piter Ivanoff</h2>
                        <h3 class="type-work">Development of HTML/CSS</h3>
                    </div>
                    <div class="soc-media">
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                    </div>
                </li>
                <li class="developer-item">
                    <picture>
                        <source srcset="./images/default.jpg" media="(min-width: 1280)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 768)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 320)" type="image" />
                        <img class="photo-dev" src="./images/default.jpg" alt="galary" />
                    </picture>
                    <div class="mdev-data-box">
                        <h2 class="name-developer">Piter Ivanoff</h2>
                        <h3 class="type-work">Development of HTML/CSS</h3>
                    </div>
                    <div class="soc-media">
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                    </div>
                </li>
                <li class="developer-item">
                    <picture>
                        <source srcset="./images/default.jpg" media="(min-width: 1280)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 768)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 320)" type="image" />
                        <img class="photo-dev" src="./images/default.jpg" alt="galary" />
                    </picture>
                    <div class="mdev-data-box">
                        <h2 class="name-developer">Piter Ivanoff</h2>
                        <h3 class="type-work">Development of HTML/CSS</h3>
                    </div>
                    <div class="soc-media">
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                    </div>
                </li>
                <li class="developer-item">
                    <picture>
                        <source srcset="./images/default.jpg" media="(min-width: 1280)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 768)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 320)" type="image" />
                        <img class="photo-dev" src="./images/default.jpg" alt="galary" />
                    </picture>
                    <div class="mdev-data-box">
                        <h2 class="name-developer">Piter Ivanoff</h2>
                        <h3 class="type-work">Development of HTML/CSS</h3>
                    </div>
                    <div class="soc-media">
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                    </div>
                </li>
                <li class="developer-item">
                    <picture>
                        <source srcset="./images/default.jpg" media="(min-width: 1280)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 768)" type="image" />
                        <source srcset="./images/default.jpg" media="(min-width: 320)" type="image" />
                        <img class="photo-dev" src="./images/default.jpg" alt="galary" />
                    </picture>
                    <div class="mdev-data-box">
                        <h2 class="name-developer">Piter Ivanoff</h2>
                        <h3 class="type-work">Development of HTML/CSS</h3>
                    </div>
                    <div class="soc-media">
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                        <a href="https://github.com" target="_blank">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                                alt="" class="soc-media_link" />
                        </a>
                    </div>
                </li>

        </ul>
    </div>
</div>